<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Items List</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Code</th>
        <th>Type</th>
        <th>Name</th>
        <th>Price</th>
        <th>Item Count</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${items}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.code}"></td>
        <td th:text="${item.type}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.price}"></td>
        <td th:text="${item.itemCount}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
</body>
</html>