<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista Clienti</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surename</th>
        <th>Age</th>
        <th>Street</th>
        <th>Number</th>
        <th>ZIP</th>
        <th>City</th>
        <th>Nation</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer : ${customers}">
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.name}"></td>
        <td th:text="${customer.surname}"></td>
        <td th:text="${customer.age}"></td>
        <td th:text="${customer.address.street}"></td>
        <td th:text="${customer.address.num}"></td>
        <td th:text="${customer.address.zip}"></td>
        <td th:text="${customer.address.city}"></td>
        <td th:text="${customer.address.nation}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>