<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Lista Clienti</title>
</head>
<body>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Surename</th>
    <th>Age</th>
    <th>Reservation ID</th>
    <th>Room</th>
    <th>Check-in</th>
    <th>Check-out</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="reservation : ${reservations}">
    <td th:text="${reservation.customer.id}"></td>
    <td th:text="${reservation.customer.name}"></td>
    <td th:text="${reservation.customer.surname}"></td>
    <td th:text="${reservation.customer.age}"></td>
    <td th:text="${reservation.id}"></td>
    <td th:text="${reservation.room}"></td>
    <td th:text="${reservation.checkin}"></td>
    <td th:text="${reservation.checkout}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>